<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wall</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <h1>Coding Dojo Wall</h1>
    <hr />
    <div id="container">
        <div id="post-message">
            <p style="margin-left: 220px;">Post a message:</p>
            <form action="" method="post">
                {% csrf_token %}
                <center>
                    <textarea name="post-message" cols="120" rows="4"></textarea>
                    <br />
                    <button class="btn btn-primary" type="submit">Post a message</button>
                </center>
            </form>
        </div>
        <div id="body">

        </div>
    </div>
</body>

</html>