table tr td{
    width: 50px;
    height: 50px;
}

.color1 {
    background-color: {{coloo1}};
}

.color2{
    background-color: blue;
}
.color3{
    background-color: {{coloo1}}
}
.color4{
    background-color: {{coloo2}}
}