<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <h1>Counter</h1>
        <p><%= count %> times.</p>
        <form action="/add2" method="post">
            <input type="submit" value="Add 2" name="add2">
        </form>
        <form action="/reset" method="post">
            <input type="submit" value="Reset" name="reset">
        </form>
    </div>
</body>
</html>