<h2>Edit this Pet</h2>
<ul>
    <li class="red" *ngFor="let error of errors">{{error}}</li>
</ul>

<div>
    <form (submit)="handleSubmit()">
        <div>
            <label>Pet Name:</label>
            <input type="text" name="pet.name" [(ngModel)]="pet.name">
        </div>
        <div>
            <label>Pet Type:</label>
            <input type="text" name="pet.type" [(ngModel)]="pet.type">
        </div>
        <div>
            <label>Description:</label>
            <input type="text" name="pet.description" [(ngModel)]="pet.description">
        </div>
        <div>
            <label>Skills:</label><br>
            <div>
                Skill 1: <input type="text" name="pet.skill1" [(ngModel)]="pet.skill1">
            </div>
            <div>
                Skill 2: <input type="text" name="pet.skill2" [(ngModel)]="pet.skill2">
            </div>
            <div>
                Skill 3: <input type="text" name="pet.skill3" [(ngModel)]="pet.skill3">
            </div>
        </div>
        <button>Submit</button>
    </form>
    <button><a [routerLink]="['/pets/' + pet._id]">Cancel</a></button>
</div>

