<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The great button game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect();
            $('#button1').click(function(){
                socket.emit('button_clicked');
            });
            socket.on('update_count', data => {
                $('#count').html(data.count);
            });
            $('#button2').click(function(){
                socket.emit('reset_clicked');
            });
        });
    </script>

</head>
<body>
    <div id="container">    
        <h1>A Button Game</h1>
        <h2>The Button has been pushed <span id="count">0</span> time(s).</h2>
        <button id="button1" class="btn btn-primary" type="submit">Push the Epic Button</button>
    </div>
    <div id="bottom-page">
        <button id="button2" class="btn btn-danger">Reset Count</button>
    </div>
</body>
</html>