
<div>
  <h1>Restful Tasks API</h1>
  <!-- <button (click)='getTasks()'>Show all Tasks!</button> -->
  <a [routerLink]="['/tasks']">View Tasks</a>
</div>

<div>
  <a [routerLink]="['/tasks/new']">Create Task</a>
</div>

<div *ngIf="editTask!=null" id="bottom">
  <form (submit)= "updateTask()">
    <p>{{ updateTask | json }}</p>
    <div>
      <label>Title</label>
      <input type="text" name="editTask.title" [(ngModel)]="editTask.title">
    </div>
    <div>
      <label>Description</label>
      <input type="text" name="editTask.description" [(ngModel)]="editTask.description">
    </div>
    <div>
      <label>Completed</label>
      <input type="checkbox" name="editTask.completed" [(ngModel)]="editTask.completed">
    </div>
    <input type="submit" value="Update Task">
  </form>
</div>


<app-task *ngIf="selectedTask != null" [selectedTask]= 'selectedTask'></app-task>

<router-outlet></router-outlet>