

<button (click)='getTasks()'>Show all Tasks!</button>
<div id="top">
  <table>
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Complete</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i;">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.completed}}</td>
        <td>
          <button (click)='selectTask(task)'>View</button>
          <button (click)='taskForm(task)'>Edit</button>
          <button (click)='selectDeleteTask(task)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="newTask">
  <h3>New Task</h3>
    <form (submit)= "onSubmit()">
      <p>{{ newTask | json }}</p>
      <div>
        <label>Title</label>
        <input type="text" name="title" [(ngModel)]="newTask.title">
      </div>
      <div>
        <label>Description</label>
        <input type="text" name="description" [(ngModel)]="newTask.description">
      </div>
      <div>
        <label>Completed</label>
        <input type="checkbox" name="completed" [(ngModel)]="newTask.completed">
      </div>
      <input type="submit" value="Create Task">
    </form>
  </div>

<div *ngIf="editTask!=null" id="bottom">
  <form (submit)= "updateTask()">
    <p>{{ updateTask | json }}</p>
    <div>
      <label>Title</label>
      <input type="text" name="editTask.title" [(ngModel)]="editTask.title">
    </div>
    <div>
      <label>Description</label>
      <input type="text" name="editTask.description" [(ngModel)]="editTask.description">
    </div>
    <div>
      <label>Completed</label>
      <input type="checkbox" name="editTask.completed" [(ngModel)]="editTask.completed">
    </div>
    <input type="submit" value="Update Task">
  </form>
</div>


<app-task *ngIf="selectedTask != null" [selectedTask]= 'selectedTask'></app-task>

<router-outlet></router-outlet>