<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <title>Group Chat</title>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect();
            var current_user;

            var new_user = function(){
                var user_name = prompt("Please enter your name: ");
                socket.emit('new_user',{user: user_name});
            }

            new_user();

            socket.on('exiting_user',data=>{
                $('#error').html(data.error);
                new_user();
            });

            socket.on('load_messages',data=>{
                $('#error').html("");
                current_user = data.current_user;
                var messages = data.messages;
                var message_post = "";
                for(var i =0; i < messages.length;i++){
                    message_post += "<p>" + messages[i].user + ": " + messages[i].message + "</p>";
                }
                $('#message_board').append(message_post);
            });

            $('#new_message').submit(function(){
                socket.emit('new_message',{message: $('#message').val(), user: current_user});
                $("#message").val("");
                return false;
            });

            socket.on('post_new_message',data =>{
                console.log(data);
                $('#message_board').append("<p>" + data.user + ": " + data.new_message + "</p>");
            })
            

        })
    </script>
</head>
<body>
    <h1>Hi <%= user%>!</h1>
    <div id="container">
        <div id="error"></div>
        <h2>Chat Room</h2>
        <div id="message_board"></div>
        <form id="new_message">
            <input type="text" name="message" id="message">
            <input type="submit" value="Send Message">
        </form>
    </div>
</body>
</html>