<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <h1>{{ author_html.first_name }} {{ author_html.last_name }}</h1>
    <p>ID: {{ author_html.id }}</p>
    <p>
        Notes:
        <p>{{ author_html.notes }}</p>
    </p>
    <p>Books:</p>
    <ul>
        {% for book in author_book_html %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action="/add_book/{{ author_html.id}}" method="post">
        {% csrf_token %}
        <select name="book" id="add_book">
            {% for book in all_books_html %}
                <option value="{{book.id}}">
                    {{ book.title }}
                </option>
            {% endfor %}
        </select>
        <button>Submit</button>
    </form>
</body>
</html>