<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_words/style.css' %}">
</head>

<body>
    <p>Random Word (attempt: #{{request.session.count}})</p>
    <div>
        <h2 id="display-4"><small>{{rtext}}</small></h2>
        <a href='/random_word'><button type="button">Generate</button></a>
        <a href="/reset"><button type="button">Reset</button></a>
    </div>
</body>

</html>