<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-time Color</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    
    <script>
        $(document).ready(function(){
            var socket = io();
            $('#green').click(function(){
                socket.emit('green_pressed');
            });
            $('#blue').click(function(){
                socket.emit('blue_pressed');
            });
            $('#pink').click(function(){
                socket.emit('pink_pressed');
            });
            socket.on('start',data=>{
                $('body').css("background-color", `${data.bgc}`);
            });
            socket.on("green_color", function(){
                $('body').css("background-color","green");
            });
            socket.on("blue_color", function(){
                $('body').css("background-color","blue");
            });
            socket.on("pink_color", function(){
                $('body').css("background-color","pink");
            });
        });
    </script>
</head>
<body>
    <div class="container-box">
        <button id="green">Green</button>
        <button id="blue">Blue</button>
        <button id="pink">Pink</button>
    </div>
</body>
</html>