<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect();
            $('#form').submit(function (e){
                e.preventDefault();
                socket.emit("posting_form",{
                    name: $('#name').val(),
                    location: $('#location').val(),
                    fav_language: $('#fav_language').val(),
                    comment: $('#comment').val(),
                });
                socket.on('updated_message',data=>{
                    $('#message').html("You emitted the following information to the server: " + JSON.stringify(data.response));
                });
                socket.on('random_number', data =>{
                    $('#number').html("Your lucky number for today is: " + JSON.stringify(data.response));
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="message"></div>
        <div id="number"></div>
        <div id="survey">
            <h1>Survey Form</h1>
            <form id="form" method="post">
                <label for="name">Your Name</label>
                <input id="name" type="text" name="name"><br>
                <label>Dojo Location</label>
                <select name="location" id="location">
                    <option value="Seattle">Seattle</option>
                    <option value="Burbank">Burbank</option>
                    <option value="OC">OC</option>
                    <option value="Chicago">Chicago</option>
                </select><br>
                <label>Favorite Language</label>
                <select name="fav_language" id="fav_language">
                    <option value="Python">Python</option>
                    <option value="C++">C++</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Swift">Swift</option>
                </select><br>
                <label>Comment(optional)</label><br>
                <textarea name="comment" id="comment" cols="50" rows="10"></textarea><br>
                <input class="submit" name="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>