<div class="container border border-dark p-5">
    <div class="row">
        <div class="col text-center">
            <h2>Burbank!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Humidity: {{ weather?.humidity }}</h4>
            <h4>Temperature: {{ weather?.temp }}</h4>
            <h4>Temperature (High) : {{ weather?.high }}</h4>
            <h4>Temperature (Low) : {{ weather?.low }}</h4>
            <h4>Status: {{ weather?.status }}</h4>
        </div>
        <div class="col float-right">
            <img src="../../assets/burbank.jpg" alt="burbank" class="float-right">
        </div>
    </div>
</div>