<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div style="width: 100%; vertical-align: top; display: inline-block;">
        <h1>Hello {{ user.first_name }}!</h1>
        {% for message in messages %}
        <p style="color:red">{{ message }}</p>
        {% endfor %}
        <a class="btn btn-danger" style="float: right;" href="/logout">Logout!</a>
        <form action="/jobs/new" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">New Job!</button>
        </form>
    </div>
    
    <hr />

    <div id="header" style="width: 100%; display:inline-block;">
        <h1>Everyone's jobs:</h1>
    </div>

    <div id="content" class="table-responsive-sm">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Job</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_html %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.location }}</td>
                    <td >
                        <!-- <a href="/jobs/{{job.id}}">View |</a> -->
                        <form style="vertical-align: top; display:inline-block" action="/jobs/{{job.id}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="show_job_info" value="{{job.id}}">
                            <button class="btn btn-primary">View</button>
                        </form>
                        <form style="vertical-align: top; display:inline-block" action="/add_job_to_user/{{job.id}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="add_job_to_user" value="{{job.id}}">
                            <button class="btn btn-primary">Add</button>
                        </form>

                        {% if request.session.logged_in == job.user_created.id %}
                            <form style="vertical-align: top; display:inline-block" action="/delete_job/{{job.id}}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="remove" value="{{job.id}}">
                                <button class="btn btn-primary">Remove</button>
                            </form>
                            <form style="vertical-align: top; display:inline-block" action="/edit_job/{{job.id}}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="edit" value="{{job.id}}">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        {% endif %}
                        <!-- <a href="/delete_job/{{job.id}}">Remove |</a> -->
                        <!-- <a href="/edit_job/{{job.id}}">Edit |</a> -->
                        <!-- <a href="/jobs/add/{{job.id}}">Add</a> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="header" style="width: 100%; display:inline-block;">
        <h1>My jobs:</h1>
    </div>
    
            <div id="content" class="table-responsive-sm">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Job</th>
                                <th scope="col">Location</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in job_html %}
                                {% if request.session.logged_in == job.user_doing_job.id %}
                                <tr>
                                    <td>{{ job.title }}</td>
                                    <td>{{ job.location }}</td>

                                    <td>
                                        <form style="vertical-align: top; display:inline-block" action="/jobs/{{job.id}}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="show_job_info" value="{{job.id}}">
                                            <button class="btn btn-primary">View</button>
                                        </form>
                                        <!-- <form style="vertical-align: top; display:inline-block" action="/add_job_to_user/{{job.id}}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="add_job_to_user" value="{{job.id}}">
                                            <button class="btn btn-primary">Add</button>
                                        </form> -->
                
                                    
                                        <form style="vertical-align: top; display:inline-block" action="/delete_job/{{job.id}}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete" value="{{job.id}}">
                                            <button class="btn btn-success">Done</button>
                                        </form>
                                        <!-- <form style="vertical-align: top; display:inline-block" action="/edit_job/{{job.id}}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="give-up" value="{{job.id}}">
                                            <button class="btn btn-primary">Give Up</button>
                                        </form> -->
                                        
                                        <!-- <a href="/jobs/{{job.id}}">View |</a> -->
                                        <!-- <a href="/jobs/delete/{{job.id}}">Done |</a> -->
                                        <!-- <a href="/jobs/edit/{{job.id}}">Give Up |</a> -->
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        
</body>

</html>