<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <h1>Edit Show {{ show_html.id }}</h1>
    <a href="/shows" style="float: right; margin-right:50px;">Go Back</a>
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
    
    <form action="/shows/{{ show_html.id }}/edit/process" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" placeholder="{{show_html.title}}">
                </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Network</label>
            <div class="col">
                <input type="text" class="form-control" name="network" placeholder="{{show_html.network}}">
            </div>

            <label class="col-sm-2 col-form-label">Release Date</label>
            <div class="col">
                <input type="date" class="form-control" name="release_date" placeholder="{{show_html.release_date}}">
            </div>
        </div>

        <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="desc" placeholder="{{show_html.desc}}"></textarea>
                    </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <a href="/shows/{{ show_html.id }}">Go To Show</a>
</body>
</html>