<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (All)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>All Shows</h1>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Show | Edit | Delete </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Show | Edit | Delete </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Show | Edit | Delete </td>
        </tr>
        {% for show in all_shows_html %}
            
        <tr>
            <th scope="row">{{ show.id }}</th>
            <td>{{ show.title }}</td>
            <td>{{ show.network }}</td>
            <td>{{ show.release_date }}</td>
            <td>Show | Edit | Delete </td>
        </tr>
        
        {% endfor %}

        </tbody>
    </table>

    <a class="btn btn-primary" href="/shows/new" role="button">Add a New Show</a>
</body>
</html>