<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h2>Cats</h2>
    <div class="cats-list">
        <div class="cat1">
            <a href="/cuddles"><img src="/images/cat1.jpg"><br></a>
        </div>
        <div class="cat2">
            <a href="/black-cat"><img src="/images/cat2.jpg"><br></a>
        </div>
        <div class="cat3">
            <a href="/red-cat"><img src="/images/cat3.jpg"><br></a>
        </div>
    </div>
</body>
</html>