<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuddle</title>
</head>
<body>
    <h1>Details page for <%= cuddles.name%></h1>
    <h2><img src="/images/cat1.jpg"></h2>
    <div class="container">
        <div id="food">
            Favorite Food: <%= cuddles.fav_food %>
        </div>
        <div id="age">
            Age: <%= cuddles.age %>
        </div>
        <div id="sleeping_spot">
            Speeping Spot: <%= cuddles.sleeping_spot %>
        </div>
    </div>
</body>
</html>