<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div style="width: 100%; vertical-align: top; display: inline-block;">
        <h1>Hello {{ user.alias }}!</h1>
        {% for message in messages %}
        <p style="color:red">{{ message }}</p>
        {% endfor %}
        <a class="btn btn-danger" style="float: right;" href="/logout">Logout</a>
        <a class="btn btn-primary" style="float: right; margin-right:50px;" href="/users/{{user.id}}">Profile</a>
        <form action="/books/add" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Add Book and Review!</button>
        </form>
    </div>
    
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Recent Book Reviews:</h1>
                
            </div>
        <div class="col">
                <h1>Other Book Reviews:</h1>
            </div>
        </div>
</body>

</html>