<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <h1 style="position: relative">{{ books.title }}</h1>
    <h1 style="position: relative">Author: {{ books.author }}</h1>
    {% for message in messages %}
        <p style="color:red">{{ message }}</p>
    {% endfor %}

    <div id="container" style="height: 50px;">
        <div id="header">
            <a class="btn btn-danger" style="float: right;" href="/logout">Logout!</a>
            <a class="btn btn-success" href="/books" style="float: right; margin-right:50px;">All Books</a>
        </div>
        <div id="content">
            <h3>Reviews:</h3>
            <div style="display: inline-block;">

                {% for review in reviews %}
                <h4>Rating: {{ review.rating }}</h4>
                <h4>{{ review.reviewer.name }} says: {{ review.review }}</h4>
                <h4>Posted by: {{ review.created_at }}</h4>
                {% if request.session.logged_in == review.reviewer.id %}
                <!-- <a href="/delete_review/{{review.id}}">Delete This Review</a> -->
                    <form action="/delete_review/{{review.id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="remove" value="{{review.id}}">
                        <button class="btn btn-primary">Remove this comment</button>
                    </form>
                {% endif %}
                {% endfor %}
            </div>
            <form style="vertical-align: top; display:inline-block; margin-left: 200px;" action="/add_review/{{books.id}}" method="post">
                {% csrf_token %}
                <h4>Add a review:</h4>
                <textarea name="review" cols="30" rows="10"></textarea>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Rating: </label>
                    <div class="col-sm-10">
                        <p>
                        <select name='rating'>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> stars.</p>
                    </div>
                </div>
                <button class="btn btn-primary">Submit Review</button>
            </form>
        </footer>
    </div>
</body>
</html>