<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <!-- <h1 style="position: relative">{{ job_html.title }}!</h1> -->
    <!-- <h1 style="position: relative">Here is the job detail!</h1> -->
    {% for message in messages %}
        <p style="color:red">{{ message }}</p>
    {% endfor %}

    <div id="container" style="height: 50px;">
        <div id="header">
            <h1>User Alias: {{ user.alias }}</h1>
            <a class="btn btn-danger" style="float: right;" href="/logout">Logout!</a>
            <a class="btn btn-success" href="/books/add" style="float: right; margin-right:50px;">Add Book and Review</a>
            <a class="btn btn-success" href="/books" style="float: right; margin-right:50px;">Home</a>
        </div>
        <div id="content">
            <h3>Name: {{ user.name }}</h3>
            <h3>Email: {{ user.email }}</h3>
            <p>Total Reviews: {{ countedReview }}</p>
            <p>Posted Reviews on the following books:</p>
            {% for book in reviewedBooks %}
                <h4 style="text-decoration: underline; color:blue;">{{ book.book.title }}</h4>
            {% endfor %}
        </div>
    </div>
</body>
</html>