<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello Django!</h1>

    <form action="/process" method="POST">
        {% csrf_token %}
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>