<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validation</title>
</head>
<body>
    <a href="/logout">Logout!</a>
    <h1>Hello {{ user.first_name }}!</h1>
    {% for message in messages %}
        <p style="color:red">{{ message }}</p>
    {% endfor %}

    <form action="/process" method="POST">
        {% csrf_token %}
        <div>
            <label>Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label>Year</label>
            <input type="text" name="year">
        </div>
        <button>Submit</button>
    
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies  %}
                
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>