<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login/Res</h1>
    {% for message in messages %}
        <p style="color:red"></p>
    {% endfor %}

    <form action="/users" method="POST">
        {% csrf_token %}
        <div>
            <label>First Name</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        </div>
        <div>
            <label>Password Confirmation</label>
            <input type="password" name="pw_confirm">
        </div>
        <button>Submit</button>
    </form>

    <form action="/users" method="POST">
        {% csrf_token %}
        <div>
                <label>Email</label>
                <input type="email" name="email">
        </div>
        <div>
                <label>Password</label>
                <input type="password" name="password">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>