<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Movie</title>
</head>
<body>
    <form action="/process" method="POST">
        {% csrf_token %}
        <div>
            <label>Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label>Year</label>
            <input type="text" name="year">
        </div>
        <button>Submit</button>
    
    </form>
</body>
</html>